body {
    font-family: Arial, sans-serif;
    margin: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

input {
    padding: 8px;
    width: 250px;
    margin-bottom: 10px;
}

button {
    padding: 8px 12px;
    margin-left: 5px;
    cursor: pointer;
}

li {
    margin: 10px 0;
}

.delete-button {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
}

.delete-button {
    margin-left: 10px;
}